# ----
# Xcode / macOS / Swift
# ----

# Build products
*.app
*.app.dSYM
*.ipa
*.dSYM
*.xcarchive
*.xcuserstate
build/
DerivedData/
.xcscmblueprint
.xcuserdatad/
*.xcworkspace/xcuserdata/

# SwiftPM
/.build/
.swiftpm/xcode/package.xcworkspace/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# IDE
.idea/

# Misc
*.DS_Store
*.swp
*.swo
*~
*.swm

# ----
# Firebase / Google Services
# ----
google-services.json
GoogleService-Info.plist

# ----
# Your Custom Constants
# ----
Constants.swift

# ----
# End of file
# ----