<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.molargiksoftware.Stork</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stork</string>
			</array>
		</dict>
	</array>
	<key>NSWeatherUsageDescription</key>
	<string>Stork uses weather data to show you current weather conditions.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>stork://new-delivery</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Delivery</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.circle.fill</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>stork://deliveries/week</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Babies This Week</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>chart.bar.fill</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>stork://calendar</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Calendar</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>calendar</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
